*{
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}


body{
  padding: 0 10rem;
  font-family: 'Rethink Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background-color: #f7f7f7;
}


html{
  scroll-behavior: smooth;
}

/* Navbar Desktop*/


nav {
  
  
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}


.nav-links{
  display: flex;
  gap: 2rem;
  list-style: none;

}

a  {
  text-decoration: none;
  font-weight: 400;
}


.nav-links a {
  color: black;
}


.nav-icon a {
  font-weight: 1,1100;
  font-size: 2rem;
  color: #65B741

}

a  :hover{

  color: grey;
  text-decoration: underline;

}


/* Sobre Mi*/


section{
  height: 100vh;
}

.sobre-mi{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.imagen {
  display: flex;
  height: 20rem;
  width: 20rem;
  margin: auto 0;
}

.sobre-mi-texto{
  
  align-self: center;
  text-align: center;
}



h1{
  color: #65B741;
  font-weight: 700;
  font-size: 4rem;
}

.puesto{
  font-weight: 400;
  font-size: 2rem;
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}



#socials-container img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  
}


.boton-sobre-mi{
  background-color:#65B741;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}











/* Cartas*/

.skills{
  height: auto;
}

.titulo-section{
  font-size: 3rem;
  color: #65B741;
  font-weight: 700;
  
}

.cartas{
  padding : 20px 0;
  display: flex;
  gap: 2rem;
  
}


.grupo{
  margin: 10px 6px; }

.titulo-grupo{
  font-size: 2rem; 
}

.card{
  
  border-radius: 1rem;
  padding: 12px;
  
  border: 1px solid #cbcbcb;

}


.card img{
  height: 55px;
  width: 55px;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
}



.card .title {
  font-size: 1rem;
  font-weight: 700;
}


/* Projectos  */

#projectos {
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #cbcbcb;
  border-radius: 5px;


}



.project  img {
  height: 100%;
  width: 30%;
  margin-right: .3rem;
  
}



.description {
  height: auto;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem
}

.description .title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--font-color)
}

.description .body {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-color-2)
}

.description .technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem
}

.description.technologies figure {
  height: 2.1rem
}

.description .technologies figure img {
  width: 100%;
  height: 100%;
  object-fit: cover
}



.description .links .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  background-color: var(--bg-color-button-3);
  color: var(--bg-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
  transition: all .3s ease;
  gap: .5rem
}


#projectos .cartas img{
  width: 30px;
  height: 30px;
  margin-right: .5rem;
  
}

#projectos .cartas .title{
  font-size: 1rem;
}


.body-projecto p {
  color: #cbcbcb;
}

.links{

        border-radius: 0.5rem;
        background-color: #070707;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all .3s ease;
        
}
/* CONTACT */


#contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#contacto .titulo-section{
  
  justify-content: center;
  display: flex;
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-info-container img{
  height: 2.5rem;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

#contacto a{
  color: black;
  text-decoration: none;
}

