@media screen and (max-width : 1200px){
    
    #cel-nav{
        display: flex;
    }
    
    body{
        padding: 0;
        margin: 0;
    }

    section{
        
        width: 100%;
    }

    .titulo-section{
        display: flex;
        justify-content: center;
        
    }
    .sobre-mi{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    .imagen {
        height: 40%;
        width: 30%;
        justify-content: center;
      }
    
    h1{
        font-size: 4rem;
      }

    .skills{
        height: auto;
        padding-top: 5rem ;
    }
    .cartas {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Tres columnas con igual anchura */
        grid-template-rows: repeat(2, 0.5fr); /* Tres filas con igual altura */ /* Espacio entre las celdas de la cuadrícula (puedes ajustar esto según tus necesidades) */
        
    }

    .project{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .project img{
        width: 100%;
        height: 100%;
        border-radius:  10px; ;
    }


    .project .description{
        display: flex;
        margin-left: 0;
        gap: 0;
        width: 100%;
    }

    .project .cartas{
        display: flex;
        padding-top: 10px;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: #070707;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        margin-right: 1rem;
        transition: all .3s ease;
        gap: 0.5rem;
    }
    #contact{
        height: 100vh;
    }
    



}